/*
* ==========================================================
* frontpage styles
*
* Uses mixins: theme-colors.scss', block-colors.scss, frontpage-sections.scss
* ==========================================================
*/
/*
* frontpage common styles
* section title, section description, excerpt block, excerpt block title
*/
@include frontSectionTitle;
@include frontSectionDescription;
@include frontExcerptBlock;
@include frontExcerptBlockTitle;

// page sections hr dividers
@include frontSectionHrDividerStyle;

/**
* front page hero section styles
*/
@include frontHeroSectionStyles;

/**
* front page about_site section styles
*/
@include frontAboutSiteSectionStyles;

/**
* front page latest_picks section styles
*/
@include frontLatestPicksSectionStyles;

/**
* frontpage primary services section styles
*
* section bg, title and text colors,  and cards styles
*/
@include primary_services_section_styles;

/**
* frontpage featured products section styles
*
* section bg, title and text colors,  and cards styles
*/
@include featured_products_section_styles;

/**
* frontpage secondary services section styles
*
* section bg, title and text colors,  and cards styles
*/
@include secondary_services_section_styles;

/**
* frontpage featured resources section styles
*
* section bg, title and text colors,  and cards styles
*/
@include featured_resources_section_styles;

/**
* frontpage current affairs slider styles
*/
.ui-front-currentaffairs {
  position: relative;
  z-index: 1460;
  @include pageSectionBgAndTxtColor($blockElmsSecondaryLightBg, $blockElmsSecondaryLightBgTxt);
  & .ui-front-heading {
    display: block;
    position: relative;
    & .heading-title {
      color: $blockElmsSecondaryLightBgTxt;
    }
  }
  & .offseted-carousel {
    padding-top: 3rem;
    padding-bottom: 3rem;
    height: 450px;
    & .carousel-item {
      left: 50%;
    }
    & .carousel-caption {
      position: absolute;
      width: 60%;
      height: 100%;
      right: auto;
      left: 0;
      top: 0;
      bottom: 0;
      left: -50%;
      z-index: 15;
      text-align: left;
      padding: 1rem;
      background-color: $blockElmsPrimaryDarkBg;
      color: $blockElmsPrimaryDarkBgTxt;
      & .entry-title {
        position: absolute;
        left: 15%;
        right: 20%;
        top: 20%;
        font-size: 125%;
        & a {
          color: $blockElmsPrimaryDarkBgLink;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          &:hover, 
          &:focus {
            color: $blockElmsPrimaryDarkBgLinkHvr;
          }
        }
      }
    }
    & .carousel-control-prev, 
    & .carousel-control-next {
      z-index: 20;
    }
    & .carousel-control-prev-icon, 
    & .carousel-control-next-icon {}
  }
}

@media (min-width: 768px) {
  
}
