// section background with gradient pattern of weaved dots
@mixin sectionBgWithWeavedDots( $bgSize ) {
	background:
	    radial-gradient(hsl(205, 100%, 69%) 4%, hsl(205, 100%, 46%) 9%, hsla(205, 100%, 48%, 0) 9%) 0 0,
	    radial-gradient(hsl(205, 100%, 69%) 4%, hsl(205, 100%, 46%) 8%, hsla(205, 100%, 48%, 0) 10%) 50px 50px,
	    radial-gradient(hsla(205, 100%, 72%, 0.8) 20%, hsla(205, 100%, 48%, 0)) 50px 0,
	    radial-gradient(hsla(205, 100%, 72%, 0.8) 20%, hsla(205, 100%, 48%, 0)) 0 50px,
	    radial-gradient(hsla(205, 100%, 48%, 1) 35%, hsla(205, 100%, 48%, 0) 60%) 50px 0,
	    radial-gradient(hsla(205, 100%, 48%, 1) 35%, hsla(205, 100%, 48%, 0) 60%) 100px 50px,
	    radial-gradient(hsla(205, 100%, 32%, 0.7), hsla(205, 100%, 48%, 0)) 0 0,
	    radial-gradient(hsla(205, 100%, 32%, 0.7), hsla(205, 100%, 48%, 0)) 50px 50px,
	    linear-gradient(45deg, hsla(205, 100%, 48%, 0) 49%, hsla(205, 100%, 0%, 1) 50%, hsla(205, 100%, 48%, 0) 70%) 0 0,
	    linear-gradient(-45deg, hsla(205, 100%, 48%, 0) 49%, hsla(205, 100%, 0%, 1) 50%, hsla(205, 100%, 48%, 0) 70%) 0 0;
  	background-color: $brandSecondDark;
  	background-size: $bgSize $bgSize;
}